extends ../base


block head
  link(rel="stylesheet", href="/css/form.css")

block content
  main
    div.container
      div.bg-secondary.rounded.content
        h2 Editar item
        form(action="", method="post" enctype="multipart/form-data")
          include ../includes/form-errors
          div.form-group
            label(for="name") Nome:
            input(type="text" name="name" id="name" maxLength="80" required value=item ? item.name : '')
          div.form-group
            label(for="description") Descrição:
            textarea(name="description", cols="30", rows="4" id="description" maxLength="180") #{item ? item.description : ''}
          div.form-group
            label(for="category") Categoria(s):
            select(name="category" id="category" multiple)
              each category in categories
                - if (item && item.category.includes(category._id))
                  option(value=category._id selected) #{category.name}
                - else 
                  option(value=category._id) #{category.name}
              else
                option(value="") ----------
          div.form-group
            label(for="price") Preço:
            input(type="number", name="price" id="price" min="0.01" step="0.01" required value=item ? item.price : '') 
          div.form-group
            label(for="stock") Quantidade em estoque:
            input(type="number", name="stock" id="stock" min="0" required value=item ? item.stock : '') 
          div.form-group
            label(for="image") Imagem:
            div.image
              if item.image
                img(src=item.image, title="Imagem atual" alt="")
              div
                input(type="file" name="image" id="image" accept="image/png, image/jpeg")
          button(type="submit").btn.btn-primary Salvar