extends base

block content
  if category
    h2 #{category.name}
    p #{category.description}
    p #{items_count} produto#{items_count !== 1 ? 's' : null} nessa categoria

    a(href=`/category/${category_id}/update`) Editar
    a(href=`/category/${category_id}/remove`) Remover
  else
    h2 Categoria não encontrada
